<div class="landing-bg-image h-full">
  <div class="grid grid-nogutter">
    <div class="col-12 text-center text-5xl font-bold pt-4">
      CycleCompete
    </div>
    <div class="col-8  pl-5 pt-5 font-bold">
      Organise and participate in local bicycle races.
    </div>
  </div>
  <div class="grid grid-nogutter">
    <div class="col-12 pt-5 pb-2 text-center font-bold">
      Register an account
    </div>
    <div class="col-12 flex flex-column align-items-center">
      <button pButton class="font-bold" label="Register" (click)="registerClick()"></button>
    </div>
    <div class="col-12 grid grid-nogutter py-3">
      <div class="col pl-6 pt-1"><hr></div>
      <div class="col-fixed text-center px-0" style="width: 40px">or</div>
      <div class="col pr-6 pt-1"><hr></div>
    </div>
    <div class="col-12 flex flex-column align-items-center">
      <button pButton class="font-bold" label="Login" (click)="loginClick()"></button>
    </div>
  </div>
</div>