#map {
  font-family: var(--font-family);
  height: 100%;
}

:host .geolocation-container {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 10%;

  ::ng-deep .geolocation {
    padding: 1.5rem;
  }

  ::ng-deep .geolocation > .p-button-icon {
    font-size: 1.5rem;
  }
}
