.ng-invalid.ng-touched {
  border-color: rgb(164, 37, 37);
}

:host ::ng-deep {  
  .p-password-input {
    background-color: var(--surface-overlay);
    width: 100%;
  }

  .ng-invalid.ng-touched > .p-password > .p-password-input {
    border-color: rgb(164, 37, 37);
  }
}