<div class="surface-card border-round flex flex-column p-3 gap-2 h-full">
  <div class="flex-none font-bold text-center text-lg">
    Choose a route
  </div>
  <!-- <div class="flex-none flex flex-column relative p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search for a place..."/>
    <div class="absolute right-0 h-full">
      <button pButton icon="pi pi-compass"
        class="p-button-text p-button-secondary p-button-lg h-full">
      </button>
    </div>
  </div> -->
  <div class="flex-grow-1">
    <div id="map" #map
      class="h-full">
    </div>
  </div>

</div>