<div class="flex flex-column h-screen-dynamic surface-ground">
  <div class="flex-none surface-card flex">
    <div class="flex-1"></div>
    <div class="flex-1 text-primary text-center text-xl font-bold py-3 select-none">History</div>
    <div class="flex-1 flex justify-content-end align-items-center">
      <p-button icon="pi pi-arrow-right" styleClass="p-button-text p-button-lg text-sm py-3 px-4 m-1" routerLink="/home"></p-button>
    </div>
  </div>
  <div class="flex-grow-1 m-1 p-1 text-700 overflow-hidden">
    <div class="flex flex-column surface-card border-round h-full">
      <div class="grid grid-nogutter pt-2 text-center text-xl">
        <div class="col-fixed w-6rem">Date</div>
        <div class="col">Track</div>
        <div class="col-fixed w-4rem">Time</div>
        <hr class="col-11"/>
      </div>
      <div class="flex-grow-1 grid grid-nogutter text-lg overflow-y-auto align-content-start">
        <div class="col-12 grid grid-nogutter pt-3" *ngFor="let run of runs">
          <div class="col-fixed w-6rem text-center">{{ run.endDate | date:'dd.MM.yyyy' }}</div>
          <div class="col pl-1">{{ run.trackName }}</div>
          <div class="col-fixed flex justify-content-center w-4rem">
            {{ run.duration }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>