body {
  font-family: var(--font-family);
  margin: 0;
  font-size: 1rem;
  touch-action: pan-up;
}

p {
  margin: 0;
}

.h-screen-dynamic {
  height: 100dvh;
}

.min-h-screen-dynamic {
  min-height: 100dvh;
}
