<!-- Autocomplete attributes: https://goo.gl/9p2vKq -->
<div class="flex flex-column h-screen-dynamic surface-ground">
  <div class="flex-none text-3xl text-center font-bold text-primary mt-2">
    CycleCompete
  </div>
  <div class="flex-grow-1 mx-4 mb-8 pb-4 flex flex-column justify-content-center">
    <div class="flex-none">
      <button type="button" pButton class="p-button-outlined pi pi-times px-2" routerLink="/"></button>
    </div>
    <div *ngIf="!!errorMessage" class="flex-none my-2 p-2 text-sm font-bold  bg-red-600 border-round border-1 border-red-200">
      <i class="pi pi-times-circle mr-2"></i>{{ errorMessage }}
    </div>
    <div class="text-2xl text-center font-bold">Register</div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm"
      class="grid grid-nogutter">
      <div class="col-12 field p-float-label mt-2">
        <input pInputText type="text" id="email" 
          class="p-inputtext surface-overlay w-full"
          name="email"
          autocomplete="email"
          #email="ngModel"
          ngModel required email>
        <label class="text-color-secondary" for="email">E-mail</label>
        <div class="text-sm">
          <small class="p-error" [hidden]="!email.errors?.email || !email.touched">Incorrect E-mail</small>
        </div>
      </div>
      <div class="col field p-float-label mt-2 mr-1 mb-0">
        <input pInputText type="text" id="firstName" 
          class="p-inputtext surface-overlay w-full"
          name="firstName"
          autocomplete="given-name"
          ngModel required appValidName>
        <label class="text-color-secondary" for="firstName">First Name</label>
      </div>
      <div class="col field p-float-label mt-2 ml-1 mb-0">
        <input pInputText type="text" id="lastName" 
          class="p-inputtext surface-overlay w-full"
          name="lastName"
          autocomplete="family-name"
          ngModel required appValidName>
        <label class="text-color-secondary" for="lastName">Last Name</label>
      </div>
      <div class="col-12 grid grid-nogutter"
         ngModelGroup="passwords" appPasswordsMatch #pwdGrp="ngModelGroup">
        <div class="flex flex-column text-sm mt-2" [hidden]="!!pwd.errors">
          <small class="p-error" [hidden]="!(pwd.errors?.appValidPassword.length && pwd.touched && pwd.dirty)">Password must have at least 8 characters</small>
          <small class="p-error" [hidden]="!(pwd.errors?.appValidPassword.lower && pwd.touched && pwd.dirty)">Password must contain at least 1 lower case character</small>
          <small class="p-error" [hidden]="!(pwd.errors?.appValidPassword.upper && pwd.touched && pwd.dirty)">Password must contain at least 1 upper case character</small>
          <small class="p-error" [hidden]="!(pwd.errors?.appValidPassword.number && pwd.touched && pwd.dirty)">Password must contain at least 1 number</small>
          <small class="p-error" [hidden]="!(pwd.errors?.appValidPassword.special && pwd.touched && pwd.dirty)">Password must contain at least 1 special character</small>   
        </div>
        <div class="col-12 field p-float-label mt-4 password-container">
          <p-password id="password" name="password" styleClass="w-full"
            [feedback]="false" [toggleMask]="true"
            autocomplete="new-password"
            ngModel required #pwd="ngModel" appValidPassword>
          </p-password>
          <label class="text-color-secondary" for="password">Password</label>
        </div>
        <div class="col-12 field p-float-label mt-2 mb-1 password-container">
          <p-password id="passwordRepeat" name="passwordRepeat" styleClass="w-full"
            [feedback]="false" [toggleMask]="true"
            autocomplete="new-password"
            ngModel required #rptPwd="ngModel">
          </p-password>
          <label class="text-color-secondary" for="passwordRepeat">Repeat Password</label>
        </div>
        <div class="text-sm">
          <small class="p-error" [hidden]="!pwdGrp.errors?.appPasswordsMatch || !rptPwd.touched">Passwords must match.</small>
        </div>
      </div>
      <button pButton type="submit" label="Sign up"
        class="w-full mt-3" [icon]="getSumbitIcon()" iconPos="right"
        [disabled]="!registerForm.valid || loading"></button>
    </form>
    <div class="text-md mt-3">
      Already have an account?
      <a routerLink="/login" class="text-primary underline">Login</a>
    </div>
  </div>
</div>
