<!-- Autocomplete attributes: https://goo.gl/9p2vKq -->
<div class="flex flex-column h-screen-dynamic surface-ground">
  <div class="flex-none text-3xl text-center font-bold text-primary mt-2">
    CycleCompete
  </div>
  <div class="flex-grow-1 mx-4 mb-8 pb-4 flex flex-column justify-content-center">
    <div class="flex-none">
      <button type="button" pButton class="p-button-outlined pi pi-arrow-left px-2" routerLink="/"></button>
    </div>
    <div class="text-2xl text-center font-bold">Register</div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm"
      class="grid grid-nogutter">
      <div class="col-12 field p-float-label mt-2">
        <input pInputText type="text" id="email" 
          class="p-inputtext surface-overlay w-full"
          name="email"
          autocomplete="email"
          ngModel required email>
        <label class="text-color-secondary" for="email">E-mail</label>
      </div>
      <div class="col field p-float-label mt-2 mr-1">
        <input pInputText type="text" id="firstName" 
          class="p-inputtext surface-overlay w-full"
          name="firstName"
          autocomplete="given-name"
          ngModel required>
        <label class="text-color-secondary" for="firstName">First Name</label>
      </div>
      <div class="col field p-float-label mt-2 ml-1">
        <input pInputText type="text" id="lastName" 
          class="p-inputtext surface-overlay w-full"
          name="lastName"
          autocomplete="family-name"
          ngModel required>
        <label class="text-color-secondary" for="lastName">Last Name</label>
      </div>
      <div class="col-12 grid grid-nogutter"
         ngModelGroup="passwords" appPasswordsMatch>
        <div class="col-12 field p-float-label mt-2">
          <p-password id="password" name="password" styleClass="w-full"
            [feedback]="false" [toggleMask]="true"
            autocomplete="new-password"
            ngModel required #password="ngModel">
          </p-password>
          <label class="text-color-secondary" for="password">Password</label>
        </div>
        <div class="col-12 field p-float-label mt-2">
          <p-password id="passwordRepeat" name="passwordRepeat" styleClass="w-full"
            [feedback]="false" [toggleMask]="true"
            autocomplete="new-password"
            ngModel required>
          </p-password>
          <label class="text-color-secondary" for="passwordRepeat">Repeat Password</label>
        </div>
      </div>
      <button pButton type="submit" label="Sign up"
        class="w-full mt-3"
        [disabled]="!loginForm.valid"></button>
    </form>
    <div class="text-md mt-3">
      Already have an account?
      <a routerLink="/login" class="text-primary underline">Login</a>
    </div>
  </div>
</div>
